
            #calculator {
            	width : 33%;
            }

            #res {
            	font-size : 20px;
            	background-color : lightgray;
            	border : solid;
            	height : 48px;
            }

            #btn0, #btn1, #btnClr, #btnEql, #btnSum, #btnSub, #btnMul, #btnDiv {
            	width : 25%;
            	height : 36px;
            	font-size : 18px;
            	margin : 0px;
            	float:left;
            }

            #btn0, #btn1 {
            	color : brown;
            	background-color : lightgreen;
            }

            #btnClr, #btnEql {
            	color : white;
            	background-color : darkgreen;
            }

            #btnSum, #btnSub, #btnMul, #btnDiv {
            	color : red;
            	background-color: black;
            }